.video-remote {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.video-remote video {
    height: 480px;
    width: 640px;
}

.video-remote .video-remote-container {

}

.video-remote .video-remote-control {

}

