.video-local {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.video-local video {
    height: 480px;
    width: 640px;
}

.video-local .video-local-container {

}

.video-local .video-local-control {

}

.video-local .video-local-control .video-local-device {

}
.video-local .video-local-control .video-local-buttons {

}
