.video-local {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.video-local video {
    height: 480px;
    width: 640px;
}

.video-local-container {

}
