header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {

}

.header-language {

}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
