.peer-container {
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.peer-output {
    margin: 0 auto;
    display: flex;
    max-width: fit-content;
    flex-direction: row-reverse;
}

.peer-control {
    clear: both;
    vertical-align: bottom;
    width: 100%;
    display: flex;
}

.peer-error {

}
.peer-chat  {

}
