.peer-container {
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.peer-output {

}

.peer-error {

}
