.peer-container {
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.peer-output {

}

.peer-error {

}

.peer-local {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.peer-local video {
    height: 480px;
    width: 640px;
}

.peer-local .peer-local-container {

}

.peer-local .peer-local-control {

}
.peer-local .peer-local-country {

}

.peer-local .peer-local-control .peer-local-device {

}
.peer-local .peer-local-control .peer-local-buttons {

}

.peer-remote {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.peer-remote video {
    height: 480px;
    width: 640px;
}

.peer-remote .peer-remote-container {

}

.peer-remote .peer-remote-control {

}

.peer-remote .peer-remote-country {

}
