@media print {
    html, body {
        display: none;
    }
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

video {
    --width: 100%;
    width: var(--width);
    height: calc(var(--width) * 0.75);
    margin: 0;
}
