@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    html, body {
        display: none;
    }
}

video {
    --width: 100%;
    width: var(--width);
    height: calc(var(--width) * 0.75);
    margin: 0;
}
